---
---

@import "{{site.theme}}";

body{
	background: #fff;
}

.inner{
	width: 70%;
	max-width: 800px;
}

#container{
	background: #fff;
}


#logo{
	width: 100%;

	margin: 0 auto;
}

.logo-img{
	width: 50%;
	max-width: 300px;
}

#nav-bar ul{
	list-style-type: none;
}

#nav-bar li{
	display: inline;
}

