---
---

@import "{{site.theme}}";

body{
	background: #fff;
	color: #000;
}

p{
	font-weight: normal;
}
#main_content h2{
	margin-bottom: 4px;
	margin-top: 1.5em;
}
h3{
	color: #303030;
}
ul li {
  list-style-position: inside;
  list-style: disc;
  padding-left: 10px;
}

a {
  color: #3FA9F5;
}
a:hover {
  color: #279FF5;
}

.inner{
	width: 70%;
	max-width: 800px;
}

#container{
	background: #fff;
}

header{
	text-align: center
}
#logo{
	width: 100%;
	max-width: 300px;
	height: 100%;
	max-width: 300px;

	margin: 0 auto;
}

.logo-img{
	width: 4em;
	max-width: 200px;
	height: 4em;
	max-width: 200px;

	margin: 0 auto;

	background-size: contain;
	background-image: url('../ressourcen/logo.png')	
}

#nav-bar ul{
	list-style-type: none;
  	font-weight: normal;
}

#nav-bar li{
	display: inline;
	padding-right: 1em;
	padding-left: 1em;
}

.small-margin-bottom{
	margin-bottom: 4px;
}

/*
##################
##	   Icons    ##
##################
*/

.icon-wrapper{
	display: flex;
    align-items: center;
}

.icon{
	display: inline-block;
	width: 10em;
	height: 10em;
}

#icon-einfach{
	background: url("/../../ressourcen/einfach.png");
	background-size: cover;
}

#icon-einheitlich{
	background: url("/../../ressourcen/einheitlich.png");
	background-size: cover;
}

#icon-skalierbar{
	background: url("/../../ressourcen/skalierbar.png");
	background-size: cover;
}