---
---

@import "{{site.theme}}";

body{
	background: #fff;
}

.inner{
	width: 70%;
	max-width: 800px;
}

#container{
	background: #fff;
}

#nav-bar ul{
	list-style-type: none;
}

#nav-bar li{
	display: inline;
}