<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="shortcut icon" href="../ressourcen/id-icon.ico">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <div class="logo-img"></div>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          <div id="nav-bar">
            <ul>
              {% for item in site.data.navigation.links %}
                <li><a href="{{item.url}}">{{item.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          <p>Der Identity Stick ist ein Projekt der <a href="https://prototypefund.de/">Prototype Fund Runde 7</a>, das vom <a href="https://www.bmbf.de/">Bundesministerium für Bildung und Forschung</a> gefördert wird. Betreut wird das Projekt vom <a href="https://www.dlr.de/pt/">DLR</a> als Projektträger.</p>

          <a href="https://www.bmbf.de/de/software-sprint-freie-programmierer-unterstuetzen-3512.html"><img src="/ressourcen/BMBF_gefîrdert%20vom_deutsch.jpg" height="100"  alt="BMBF" ></img></a> <a href="https://prototypefund.de/"><img src="https://i0.wp.com/blog.okfn.org/files/2017/12/22137279_1679687182104997_6759961652435307500_o.jpg" height="100" alt="Prototype Fund" class="footer-logo"></img></a>
          
          
          <p><a href="https://identity-stick.github.io/impressum">Impressum</a></p>
        </footer>

      </div>
    </div>
  </body>
</html>