<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <div id="logo"> 
            <div class="logo-img">
              <img src="../ressourcen/logo.png" width="100%" heihgt="100%" alt="Logo der Webseite bestehen aus einem schwarzen i und D"></img>
            </div>
          </div>
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          <div id="nav-bar">
            <ul>
              {% for item in site.data.navigation.links %}
                <li><a href="{{item.url}}">{{item.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          <a href="https://www.bmbf.de/de/software-sprint-freie-programmierer-unterstuetzen-3512.html"><img src="/ressourcen/BMBF_gefîrdert%20vom_deutsch.jpg" width="100"  alt="BMBF"></img></a> <a href="https://prototypefund.de/"><img src="https://i0.wp.com/blog.okfn.org/files/2017/12/22137279_1679687182104997_6759961652435307500_o.jpg" width="100" alt="Prototype Fund"></img></a>
          The identity stick project is a finalist of the PrototypeFund round 7. It is supported by <a href="https://www.bmbf.de/de/software-sprint-freie-programmierer-unterstuetzen-3512.html">BMBF</a> and <a href="https://prototypefund.de/">PrototypeFund</a>.
          <a href="https://identity-stick.github.io/impressum">Impressum</a>
        </footer>

      </div>
    </div>
  </body>
</html>